<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <form [formGroup]="cadastroForm" (ngSubmit)="cadastrar()" class="bg-white shadow-md rounded-lg p-8 w-full max-w-3xl m-4">
    <div class="space-y-12">
      <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base/7 font-semibold text-gray-900">Cadastro</h2>
        <p class="mt-1 text-sm/6 text-gray-600">Cadastre-se no nosso site de manutenção de equipamentos.</p>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label for="nome" class="block text-sm/6 font-medium text-gray-900">Nome</label>
            <div class="mt-2">
              <input id="nome" type="text" name="nome" formControlName="nome" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="telefone" class="block text-sm/6 font-medium text-gray-900">CPF</label>
            <div class="mt-2">
                                                                                <!-- Dentro dos () vai o evento que você quer "escutar" pra executar a função escolhida. -->  
              <input id="cpf" type="text" name="cpf" autocomplete="family-name" (input)="mascaraCPF()" formControlName="cpf" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="telefone" class="block text-sm/6 font-medium text-gray-900">Telefone</label>
            <div class="mt-2">
              <input id="telefone" type="text" name="telefone" autocomplete="family-name" (input)="mascaraTelefone()" formControlName="telefone" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
            </div>
          </div>

          <div class="sm:col-span-5">
            <label for="email" class="block text-sm/6 font-medium text-gray-900">Email</label>
            <div class="mt-2">
              <input id="email" type="email" name="email" autocomplete="email" formControlName="email" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
            </div>
          </div>

          <div class="sm:col-span-2">
            <label for="cep" class="block text-sm/6 font-medium text-gray-900">CEP</label>
            <div class="mt-2">
              <input id="cep" type="text" name="cep" autocomplete="cep" formControlName="cep" (input)="mascaraCEP()" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />

              @if(cadastroForm.get('cep')?.hasError('cepInvalido')){
                <div>
                  CEP INVÁLIDO!
                </div>
              } 
            </div>
          </div>

          <div class="col-span-5">
            <label for="logradouro" class="block text-sm/6 font-medium text-gray-900">Logradouro</label>
            <div class="mt-2">
              <input id="logradouro" type="text" name="logradouro" autocomplete="logradouro" [readOnly]="true"  formControlName="logradouro" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
            </div>
          </div>

          <div class="col-span-2">
            <label for="bairro" class="block text-sm/6 font-medium text-gray-900">Bairro</label>
            <div class="mt-2">
              <input id="bairro" type="text" name="bairro" autocomplete="bairro" formControlName="bairro" [readOnly]="true" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
            </div>
          </div>

          <div class="sm:col-span-2">
            <label for="cidade" class="block text-sm/6 font-medium text-gray-900">Cidade</label>
            <div class="mt-2">
              <input id="cidade" type="text" name="cidade" autocomplete="address-level2" formControlName="cidade" [readOnly]="true" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
            </div>
          </div>

          <div class="sm:col-span-2">
            <label for="estado" class="block text-sm/6 font-medium text-gray-900">Estado</label>
            <div class="mt-2">
              <input id="estado" type="text" name="estado" autocomplete="address-level1" formControlName="estado" [readOnly]="true" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
      <button type="submit" [disabled]="!cadastroForm.valid" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Cadastrar</button>
    </div>
  </form>
</div>