<div class="mt-20 p-12">
    <div class="flex justify-between pb-4">
        <h2 class="font-bold text-[22px]">Minhas Solicitações</h2>
        <button href="/nova-solicitacao" class="bg-gray-500 p-2 rounded-[7px] hover:opacity-[85%] cursor-pointer">Nova Solicitação</button>
    </div>
    <hr>
    <div class="mt-6 w-[100%] flex justify-between items-center">
        <p>Filtro</p>
        <div class="border-b-1 flex items-center">
            <img src="../../../public/search.png" class="w-8">
            <input type="search" class="p-1 w-[300px]" placeholder="Pesquisar" [(ngModel)]="searchText">
        </div>
    </div>
    <div>
        <table class="mt-8 w-[100%] gap-2">
            <tr class="w-[100%] flex justify-between gap-2">
                <th class="bg-gray-200 p-1 w-[25%] rounded-[7px]">Data/Hora</th>
                <th class="bg-gray-200 p-1 w-[25%] rounded-[7px]">Descrição do equipamento</th>
                <th class="bg-gray-200 p-1 w-[25%] rounded-[7px]">Estado da solicitação</th>
                <th class="bg-gray-200 p-1 w-[25%] rounded-[7px]">Ações</th>
            </tr>
            <tr *ngFor="let item of solicitacoes | filter:searchText:'data':selectedDate" class="w-[100%] flex justify-between gap-2 mt-2">
                <td class="bg-gray-200 p-1 w-[25%] rounded-[7px]">{{ item.data | date:'dd/MM/yyyy HH:mm' }}</td>
                <td class="bg-gray-200 p-1 w-[25%] rounded-[7px]">{{ item.descricao }}</td>
                <td class="bg-gray-200 p-1 w-[25%] rounded-[7px]">{{item.estado}}</td>
                <td class="w-[25%] rounded-[7px]"> 
                    <button class="bg-gray-500 pl-6 pr-6 pt-1 pb-1 rounded-[7px] hover:opacity-[85%] cursor-pointer">Visualizar</button>
                </td>
            </tr>
        </table>
    </div>
</div>