<div class="p-10 bg-white rounded-lg shadow-lg h-full space-y-5"> 
    <div>
        <h2 class="font-bold text-2xl text-gray-800">Orçamento</h2>
        <p class="mt-1 text-sm text-gray-600">
            Detalhes do equipamento e defeito informado.
        </p>
    </div>

    @if (solicitacao) {
        <div class="border border-gray-200 rounded-lg p-6 bg-white shadow-md">
            <dl class="divide-y divide-gray-200">
                
                <div class="py-4 grid sm:grid-cols-3 gap-4">
                    <dt class="text-sm font-semibold text-gray-700">
                        Descrição do Equipamento
                    </dt>
                    <dd class="text-sm text-gray-900 sm:col-span-2">
                        {{ solicitacao.equipamento }}
                    </dd>
                </div>

                <div class="py-4 grid sm:grid-cols-3 gap-4">
                    <dt class="text-sm font-semibold text-gray-700">Categoria</dt>
                    <dd class="text-sm text-gray-900 sm:col-span-2">
                        {{ solicitacao.categoria }}
                    </dd>
                </div>

                <div class="py-4 grid sm:grid-cols-3 gap-4">
                    <dt class="text-sm font-semibold text-gray-700">Defeito Reportado</dt>
                    <dd class="text-sm text-gray-900 sm:col-span-2">
                        {{ solicitacao.descricao }}
                    </dd>
                </div>

            </dl>
        </div>
    }

    <div class="flex flex-col gap-4">
        <h2 class="font-semibold text-lg text-gray-800">Itens do Orçamento</h2>

        <form [formGroup]="orcamentoForm"
              (ngSubmit)="enviarOrcamento()"
              class="flex flex-col gap-6">

            <div formArrayName="itens" class="space-y-4 overflow-x-auto max-h-30 overflow-y-auto">
                @for (item of itens.controls; track item; let i = $index) {
                    <div [formGroupName]="i"
                        class="flex flex-col md:flex-row gap-4 items-start md:items-center 
                               bg-gray-50 p-4 rounded-lg border border-gray-200 shadow-sm">

                        <input formControlName="descricao"
                            class="w-full bg-gray-100 hover:bg-gray-200 rounded-md p-2 text-sm text-gray-700 outline-0"
                            placeholder="Descrição do item" />

                        <input formControlName="preco" type="number"
                            class="w-full md:w-40 bg-gray-100 hover:bg-gray-200 rounded-md p-2 text-sm text-gray-700 outline-0"
                            placeholder="Preço"
                            (input)="atualizarTotal()" />

                        <button type="button"
                            (click)="removerItem(i)"
                            class="px-4 py-2 bg-red-600 text-white rounded-md text-sm hover:bg-red-700">
                            Remover
                        </button>
                    </div>
                }
            </div>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <input type="text" formControlName="novoItemDescricao"
                       placeholder="Descrição"
                       class="bg-gray-100 hover:bg-gray-200 rounded-md p-2 text-sm text-gray-700 outline-0" />

                <input type="number" formControlName="novoItemPreco"
                       placeholder="Valor"
                       class="bg-gray-100 hover:bg-gray-200 rounded-md p-2 text-sm text-gray-700 outline-0" />

                <button type="button"
                        (click)="adicionarItem()"
                        class="bg-gray-800 text-white rounded-md px-4 py-2 hover:bg-gray-700">
                    Adicionar Item
                </button>
            </div>

            <div class="flex justify-between ">
                <div class="mt-4 font-semibold text-gray-800 text-xl">
                    Total: {{ orcamentoForm.get('precoTotal')?.value | currency:'BRL' }}
                </div>
    
                <button type="submit"
                    class="bg-gray-800 text-white rounded-md px-6 py-3 hover:bg-gray-700 disabled:opacity-50">
                    Salvar Orçamento
                </button>
            </div>
        </form>
    </div>
</div>
