<div class="flex min-h-screen bg-white">
  <div class="w-2/5 flex items-center justify-center bg-gray-200 m-3 rounded-lg">LOGO</div>

  <div class="flex justify-center items-center w-3/5 bg-white px-30 max-w-full">
    <form #formCadastro="ngForm" (ngSubmit)="salvar()">
      <div>
        <h2 class="text-base/7 font-semibold text-gray-900">Cadastro</h2>

        <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-2 sm:grid-cols-6">
            <div class="col-span-6 mt-1.5">
              <input id="nome" placeholder="Nome" type="text" name="nome" [(ngModel)]="cliente.nome" #nome="ngModel" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 placeholder:text-gray-400 sm:text-sm/6 border border-1 outline-none focus:border-2 focus:border-gray-400"
              [ngClass]="{
                'border-red-500': nome.errors?.['required'] && (nome.touched || formCadastro.submitted),
                'border-green-500': nome.valid && nome.touched,
                'border-gray-300': nome.pristine
              }" />

              @if (nome.errors?.['required'] && (nome.touched || formCadastro.submitted)) {
                <span class="pl-2 text-red-600 text-xs">O nome é obrigatório</span>
              } 
            </div>

            <div class="col-span-3 mt-1.5">
              <!-- Dentro dos () vai o evento que você quer "escutar" pra executar a função escolhida. -->  
              <input 
                id="cpf" 
                type="text" 
                name="cpf" 
                maxlength="14" 
                autocomplete="family-name"
                #cpf="ngModel" 
                required 
                [(ngModel)]="cliente.cpf" 
                placeholder="000.000.000-00" 
                CpfValidator
                [numericos]="'cpf'" 
                class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 placeholder:text-gray-400 sm:text-sm/6 border border-1 outline-none focus:border-gray-400"
                [ngClass]="{
                  'border-red-500': cpf.errors?.['required'] && (cpf.touched || cpf.dirty),
                  'border-yellow-500': cpf.errors?.['cpfIncompleto'] && (cpf.touched || cpf.dirty),
                  'border-green-500': cpf.valid && cpf.touched,
                  'border-gray-300': cpf.pristine
                }" />

              @if (cpf.errors?.['required'] && (cpf.touched || cpf.dirty)) {
                <span class="pl-2 text-red-600 text-xs">O CPF é obrigatório</span>
              } @else if (cpf.errors?.['cpfIncompleto'] && (cpf.touched || cpf.dirty)) {
                <span class="pl-2 text-yellow-600 text-xs">O CPF está incompleto ou inválido</span>
              }
            </div>

            <div class="col-span-3 mt-1.5">
              <input 
                id="telefone" 
                placeholder="(00) 90000-0000" 
                type="text" 
                maxlength="15" 
                name="telefone" 
                autocomplete="tel" 
                [numericos]="'telefone'"
                TelefoneValidator
                [(ngModel)]="cliente.telefone" 
                #telefone="ngModel" 
                required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 placeholder:text-gray-400 sm:text-sm/6 border border-1 outline-none focus:border-gray-400"
                [ngClass]="{
                  'border-red-500': telefone.errors?.['vazio'] && (telefone.touched || telefone.dirty),
                  'border-yellow-500': telefone.errors?.['telefoneIncompleto'] && (telefone.touched || telefone.dirty),
                  'border-green-500': telefone.valid && telefone.touched,
                  'border-gray-300': telefone.pristine
                }" />

              @if (telefone.errors?.['vazio'] && (telefone.touched || telefone.dirty)) {
                <span class="pl-2 text-red-600 text-xs">O telefone é obrigatório</span>
              } @else if (telefone.errors?.['telefoneIncompleto']) {
                <span class="pl-2 text-yellow-600 text-xs">O telefone está inválido ou incompleto</span>
              }
            </div>

            <div class="col-span-6 mt-1.5">
              <input id="email" placeholder="Email" type="email" name="email" autocomplete="email" [(ngModel)]="cliente.email" #email="ngModel" email required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 placeholder:text-gray-400 sm:text-sm/6 border border-1 outline-none focus:border-gray-400"
              [ngClass]="{
                'border-red-500': (email.invalid && (email.touched || formCadastro.submitted)),
                'border-yellow-500': (email.errors?.['email']),
                'border-green-500': email.valid && email.touched,
                'border-gray-300': email.pristine
              }"
            />

            @if (email.invalid && (email.touched || formCadastro.submitted)) {
              @if (email.errors?.['required']) {
                <span class="pl-2 text-red-600 text-xs">O email é obrigatório</span>
              } @else if (email.errors?.['email']) {
                <span class="pl-2 text-yellow-600 text-xs">O email não é válido</span>
              }
            } 
            </div>

            <div class="mt-4 col-span-6 flex flex-col gap-2">
              <input 
                id="cep" 
                placeholder="CEP" 
                type="text" 
                name="cep" 
                autocomplete="postal-code" 
                [(ngModel)]="cliente.endereco.cep" 
                (ngModelChange)="validaCEP($event)" 
                [numericos]="'cep'"
                maxlength="9" 
                CepValidator
                #cep="ngModel" 
                required 
                class="w-50 rounded-md bg-white px-3 py-1.5 text-base text-gray-900 placeholder:text-gray-400 sm:text-sm/6 border border-1 outline-none focus:border-gray-400"
                [ngClass]="{
                  'border-purple-500': cepStatus == status.ProblemaAPI && (cep.touched || formCadastro.submitted),
                  'border-red-500': (cepStatus == status.Invalido && (cep.touched || formCadastro.submitted)) || (cepStatus == status.Vazio && (cep.touched || formCadastro.submitted)),
                  'border-yellow-500': cepStatus == status.Incompleto && (cep.touched || formCadastro.submitted),
                  'border-green-500': cepStatus == status.Valido,
                  'border-gray-300': cep.pristine
                }" />

              @if(cepStatus === status.Incompleto && (cep.touched || formCadastro.submitted)) {
                <span class="pl-2 text-yellow-600 text-xs">O CEP está incompleto</span>
              }

              @if (cepStatus === status.Invalido && (cep.touched || formCadastro.submitted)) {
                <span class="pl-2 text-red-600 text-xs">O CEP não encontrado</span>
              }

              @if (cep.invalid && (cep.touched || formCadastro.submitted)) {              
                @if(cep.errors?.['vazio']) {
                  <span class="pl-2 text-red-600 text-xs">O CEP é obrigatório</span>
                } 
              }

              @if (cepStatus === status.ProblemaAPI && (cep.touched || formCadastro.submitted)) {
                <span class="pl-2 text-purple-600 text-xs">Tivemos um problema com a API. Por favor, recarregue a página.</span>
              }
            </div>

            <div class="col-span-5 mt-1.5">
              <input 
                id="logradouro" 
                placeholder="Logradouro" 
                type="text" 
                name="logradouro" 
                autocomplete="street-address" 
                required 
                [readOnly]="true" 
                [(ngModel)]="endereco.logradouro" 
                class="block w-full rounded-md bg-gray-200 px-3 py-1.5 text-base text-gray-700 placeholder:text-gray-400 sm:text-sm/6 cursor-not-allowed focus:outline-none focus:border-gray-300" 
                [ngClass]="{
                  'bg-green-100': cepStatus == status.Valido
                }" />
            </div>

            <div class="col-span-1 mt-1.5">
              <input 
                id="numero" 
                placeholder="Nº" 
                name="numero" 
                autocomplete="address-line1" 
                [(ngModel)]="cliente.endereco.numero" 
                [numericos]="''" 
                class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 placeholder:text-gray-400 sm:text-sm/6 border border-1 outline-none focus:border-gray-400" 
                [ngClass]="{
                  'border-gray-300': cep.pristine
                }"/>
            </div>

            <div class="col-span-2 mt-1.5">
              <input 
                id="bairro" 
                placeholder="Bairro" 
                type="text" 
                name="bairro" 
                autocomplete="address-level2" 
                [(ngModel)]="cliente.endereco.bairro" 
                [readOnly]="true" 
                class="block w-full rounded-md bg-gray-200 px-3 py-1.5 text-base text-gray-700 placeholder:text-gray-400 sm:text-sm/6 cursor-not-allowed focus:outline-none focus:border-gray-300" 
                [ngClass]="{
                  'bg-green-100': cepStatus == status.Valido
                }" />
            </div>

            <div class="col-span-2 mt-1.5">
              <input 
                id="cidade" 
                placeholder="Cidade" 
                type="text" 
                name="cidade" 
                autocomplete="address-level2" 
                [(ngModel)]="cliente.endereco.cidade" 
                [readOnly]="true" 
                class="block w-full rounded-md bg-gray-200 px-3 py-1.5 text-base text-gray-700 placeholder:text-gray-400 sm:text-sm/6 cursor-not-allowed focus:outline-none focus:border-gray-300" 
                [ngClass]="{
                  'bg-green-100': cepStatus == status.Valido
                }" />
            </div>

            <div class="col-span-2 mt-1.5">
              <input 
                id="estado" 
                placeholder="Estado" 
                type="text" 
                name="estado" 
                autocomplete="address-level1" 
                [(ngModel)]="cliente.endereco.estado" 
                [readOnly]="true" 
                class="block w-full rounded-md bg-gray-200 px-3 py-1.5 text-base text-gray-700 placeholder:text-gray-400 sm:text-sm/6 cursor-not-allowed focus:outline-none focus:border-gray-300" 
                [ngClass]="{
                  'bg-green-100': cepStatus == status.Valido
                }" />
            </div>
        </div>
      </div>

      <div class="flex-col items-center justify-center pt-5">
          <div class="relative group inline-block w-full">
            <button type="submit" [disabled]="!formCadastro.valid" class="flex justify-center w-full rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 hover:cursor-pointer focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:bg-gray-300 disabled:cursor-not-allowed transition-colors duration-300 ease-in-out">
              Cadastrar
            </button>
            @if (!formCadastro.valid) {
              <div class="absolute left-100 translate-x-1/2 bottom-full mb-2 z-10 pointer-events-none opacity-0 translate-y-1 group-hover:opacity-100 group-hover:translate-y-0 bg-black text-white text-xs rounded py-3 px-2 transition-all duration-300 ease-out bg-indigo-400">
                Preencha o formulário corretamente
              </div>
            }
          </div>

        <p class="mt-2 text-center text-sm/6 text-gray-500">
          Já tem uma conta?
          <a [routerLink]="['']" class="font-semibold text-indigo-600 hover:text-indigo-500 cursor-pointer">Fazer login</a>
        </p>
      </div>
    </form>
  </div>
</div>