<div class="flex flex-col items-center gap-6 p-4">
  <div class="w-full max-w-3xl bg-white shadow-lg rounded-lg border-l-4 border-blue-500 p-6">
        <h2 class="text-2xl font-bold text-center text-blue-600 mb-4">Solicitação #{{solicitacao.idSolicitacao}}</h2>
        
        <div class="flex md:grid-cols-2 gap-6 p-4 bg-white shadow rounded-lg">
          <div class="space-y-2">
            <h3 class="font-semibold text-lg border-b pb-1">Solicitação</h3>
            <p><span class="font-bold">Equipamento:</span> {{ solicitacao.equipamento }}</p>
            <p><span class="font-bold">Categoria:</span> {{ solicitacao.categoria.nome }}</p>
            <p><span class="font-bold">Descrição:</span> {{ solicitacao.descricao }}</p>
          </div>

          <div class="space-y-2">
            <h3 class="font-semibold text-lg border-b pb-1">Cliente</h3>
            <p><span class="font-bold">Nome:</span> {{ solicitacao.cliente.nome }}</p>
            <p><span class="font-bold">CPF:</span> {{ solicitacao.cliente.cpf }}</p>
            <p><span class="font-bold">Telefone:</span> {{ solicitacao.cliente.telefone }}</p>
            <p><span class="font-bold">Endereço:</span> 
              {{ solicitacao.cliente.endereco.logradouro }}, {{ solicitacao.cliente.endereco.numero }} - 
              {{ solicitacao.cliente.endereco.bairro }}, {{ solicitacao.cliente.endereco.cidade }}/{{ solicitacao.cliente.endereco.estado }} - 
              CEP: {{ solicitacao.cliente.endereco.cep }}
            </p>
          </div>
        </div>

  
        <div class="mb-3">
          <h3 class="font-semibold mb-2">Orçamento:</h3>
          <table class="min-w-full border border-gray-300 rounded-lg overflow-hidden">
            <thead class="bg-gray-100">
              <tr>
                <th class="px-4 py-2 text-left border-b">Serviço</th>
                <th class="px-4 py-2 text-left border-b">Preço (R$)</th>
              </tr>
            </thead>
            <tbody>
              @for(servico of solicitacao.orcamento?.servico; track servico.idServico + '-' + servico.descricao){
                <tr class="hover:bg-gray-50">
                  <td class="px-4 py-2 border-b">{{ servico.descricao }}</td>
                  <td class="px-4 py-2 border-b">{{ servico.preco }}</td>
                </tr>
              }
            </tbody>
            <tfoot>
              <tr class="bg-gray-100 font-semibold">
                <td class="px-4 py-2">Total</td>
                <td class="px-4 py-2">{{ solicitacao.orcamento?.valorTotal }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
  
        <div class="mb-3">
          <h3 class="font-semibold mb-2">Histórico:</h3>
          <div class="relative border-l-2 border-gray-300 pl-8">
            @for(historico of solicitacao.historico; track historico.idHistorico + '-' + historico.dataHora){
              <div class="mb-6 relative flex">
                <span class="absolute -left-4 w-6 h-6 rounded-full {{ EstadoSolicitacaoCor[historico.estado] }} flex items-center justify-center text-white text-xs font-bold"></span>

                <div class="ml-4">
                  <p class="text-sm text-gray-500">{{ historico.dataHora | date:'dd/MM/yyyy HH:mm' }}</p>
                  <p class="font-semibold">
                    {{ EstadoSolicitacaoLabel[historico.estado] }}
                  </p>
                  @if(historico.funcionario && !historico.funcionarioDestino){
                    <p class="text-gray-700">Funcionário: {{ historico.funcionario.nome }}</p>
                  }
                  @if(historico.funcionarioDestino){
                    <p class="text-gray-700">Funcionário de origem: {{ historico.funcionario?.nome }}</p>
                    <p class="text-gray-700">Funcionário de destino: {{ historico.funcionarioDestino.nome }}</p>
                  }
                  @if(historico.observacao){
                    <p class="italic text-gray-600">Observação: {{ historico.observacao }}</p>
                  }
                  @if(solicitacao.orcamento?.msgRejei && (EstadoSolicitacaoLabel[historico.estado] == EstadoSolicitacaoLabel[4])){
                    <p class="italic text-gray-600">Motivo da rejeição: {{ solicitacao.orcamento?.msgRejei }}</p>
                  }
                </div>
              </div>
            }
          </div>
        </div>

        @if(
          (
            solicitacao.status == EstadoSolicitacaoT.APROVADA || 
            solicitacao.status == EstadoSolicitacaoT.REDIRECIONADA
          ) && 
          solicitacao.funcionario?.idFuncionario == this.funcionarioLogado.idFuncionario
        ){
          <button 
            (click)="mostrarFormularioManutencao()"
            class="bg-blue-200 text-white px-4 py-2 rounded">
            Efetuar manutenção
          </button>
        }

        @if(
          (
            solicitacao.status == EstadoSolicitacaoT.APROVADA || 
            solicitacao.status == EstadoSolicitacaoT.REDIRECIONADA ||
            solicitacao.status == EstadoSolicitacaoT.ARRUMADA ||
            solicitacao.status == EstadoSolicitacaoT.PAGA 
          ) && 
          solicitacao.funcionario?.idFuncionario == this.funcionarioLogado.idFuncionario
        ){
          <button 
          (click)="mostrarModalRedirecionamento()"
            class="bg-yellow-200 text-white px-4 py-2 rounded">
            Redirecionar manutenção
          </button >
        }

        @if (mostrarFormulario) {
          <div class="fixed inset-0 flex items-center justify-center bg-black/60 z-50">
            <div class="bg-white rounded-lg shadow-xl p-6 w-full max-w-md">
              <form #formManutencao="ngForm" (ngSubmit)="salvarManutencao()">
                <div>
                  <h2 class="text-base/7 font-semibold text-gray-900">Realizar manutenção</h2>
            
                  <div class="col-span-6 mt-1.5">
                    <input id="descricao" placeholder="Descrição da Manutenção" type="text" name="descricao" [(ngModel)]="manutencao.descricao" #descricao="ngModel" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 placeholder:text-gray-400 sm:text-sm/6 border border-1 outline-none focus:border-2 focus:border-gray-400"
                    />
                  </div>
            
                  <div class="col-span-6 mt-1.5">
                    <input id="orientacoes" placeholder="Orientações para o Cliente" type="text" name="orientacoes" [(ngModel)]="manutencao.orientacoes" #orientacoes="ngModel" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 placeholder:text-gray-400 sm:text-sm/6 border border-1 outline-none focus:border-2 focus:border-gray-400"
                    />
                  </div>
            
                  <div class="mt-6 flex items-center justify-end gap-x-6">
                    <button type="button" (click)="cancelarManutencao()" class="text-sm/6 font-semibold text-gray-900">Cancel</button>
                    <button type="submit" [disabled]="formManutencao.invalid" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Salvar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        }

        @if (mostrarRedirecionamento) {
          <div class="fixed inset-0 flex items-center justify-center bg-black/60 z-50">
            <div class="bg-white rounded-lg shadow-xl p-6 w-full max-w-md">
              <h2 class="text-base/7 font-semibold text-gray-900 mb-4">Redirecionar serviço</h2>

              <div class="mb-4">
                <label for="funcionarioDestino" class="block text-sm font-medium text-gray-700">Funcionário</label>
                <select id="funcionarioDestino" [(ngModel)]="funcionarioDestinoSelecionado" class="mt-1 block w-full rounded-md border border-gray-300 bg-white px-3 py-2 text-base text-gray-900">
                  <option [value]="-1">Selecione um funcionário</option>
                  
                  @for(funcionario of funcionarios; track funcionario.idFuncionario){  
                    @if(funcionario.idFuncionario !== funcionarioLogado.idFuncionario){
                      <option [value]="funcionario.idFuncionario">{{ funcionario.nome }}</option>
                    }
                  }
                </select>
              </div>

              <div class="flex justify-end gap-x-4">
                <button type="button" (click)="cancelarRedirecionamento()" class="text-gray-700">Cancelar</button>
                <button type="button" (click)="salvarRedirecionamento()" class="bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-500">Salvar</button>
              </div>
            </div>
          </div>
        }

        @if(
          solicitacao.status == EstadoSolicitacaoT.PAGA && 
          solicitacao.funcionario?.idFuncionario == this.funcionarioLogado.idFuncionario
        ){
          <button 
            (click)="finalizarSolicitacao()"
            class="bg-green-500 text-white px-4 py-2 rounded">
            Finalizar solicitação
          </button>
        }
  </div>
</div>
