<div class=" p-12">
    <div class="px-4 sm:px-0">
        <h2 class="font-bold">Orçamento</h2>
        <p class="mt-1 max-w-2xl text-sm/6 text-gray-500">
            Detalhes do equipamento e defeito informado.
        </p>
    </div>
    <div class="mt-6 border-t border-gray-100">
        <dl class="divide-y divide-gray-100">
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm/6 font-medium text-gray-900">Descrição do Equipamento</dt>
                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                    Impressora HP 
                    <!--  {{ solicitacao.equipamento }} -->
                </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm/6 font-medium text-gray-900">Categoria</dt>
                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                    Impressora
                    <!--  {{ solicitacao.categoria }} -->
                </dd>
            </div>

            <!-- Linha: defeito -->
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm/6 font-medium text-gray-900">Defeito Reportado</dt>
                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                    Não imprime páginas
                    <!--  {{ solicitacao.descricao }} -->
                </dd>
            </div>

            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm/6 font-medium text-gray-900">Valor Orçamento</dt>
                <div>
                    <ul>
                        <li>Troca rolo - R$ 150,00</li>
                        <li>Limpeza R$ 80,00</li>
                    </ul>
                    <!-- 
                    @for (item of solicitacao.descricaoPreco; track item.descricao) {
                      <div>
                        <li>{{ item.descricao }}</li>
                        <li>{{ item.preco }}</li>
                      </div>
                    }
                    -->
                </div>
                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                    R$: 230,00
                    <!--  {{ solicitacao.precoTotal }} -->
                </dd>
            </div>
        </dl>
    </div>

    <div class="flex space-x-3 mt-4">
        <button 
          class="rounded-md bg-green-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-1 transition cursor-pointer"
        >
        <!-- (click)="showModal(modalAceitar)" -->
            Aprovar Serviço
        </button>

        <button 
        class="rounded-md bg-red-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-offset-1 transition cursor-pointer"
        >
        <!-- (click)="showModal(modalRecusar)" -->
            Rejeitar Serviço
        </button>
    </div>
</div>
