

<div class="px-4 sm:px-0">
  <h3 class="text-base font-semibold text-gray-900">Dados da Solicitação</h3>
  <p class="mt-1 max-w-2xl text-sm/6 text-gray-500">Detalhes da solicitação.</p>
</div>
<div class="mt-6 border-t border-gray-100">
    <dl class="divide-y divide-gray-100">
        <div class="px-2 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt class="text-sm/6 font-medium text-gray-900">Número da solicitação</dt>
            <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">0155</dd>
        </div>

        <div class="px-2 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt class="text-sm/6 font-medium text-gray-900">Data/Hora</dt>
            <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">Computador Portátil</dd>
        </div>

        <div class="px-2 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt class="text-sm/6 font-medium text-gray-900">Categoria</dt>
            <dd class="text-sm text-gray-700 sm:col-span-2">Computador Portátil</dd>
        </div>

        <div class="px-2 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt class="text-sm/6 font-medium text-gray-900">Descrição do Equipamento</dt>
            <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">Notebook Dell Inspiron 15</dd>
        </div>

        <div class="px-2 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt class="text-sm/6 font-medium text-gray-900">Defeito do defeito</dt>
            <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">Tela não liga ao pressionar o botão de energia</dd>
        </div>

        <div class="px-2 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt class="text-sm/6 font-medium text-gray-900">Status</dt>
            <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">Tela não liga ao pressionar o botão de energia</dd>
        </div>
    </dl>
</div>

<div class="px-4 sm:px-0">
  <h3 class="text-base font-semibold text-gray-900">Histórico da Solicitação</h3>
  <p class="mt-1 max-w-2xl text-sm text-gray-500">Todos os passos e alterações feitas no serviço.</p>
</div>

<div class="mt-6 overflow-x-auto">
  <table class="min-w-full divide-y divide-gray-200 rounded-lg">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-4 py-2 text-left text-sm font-semibold text-gray-900">Data/Hora</th>
        <th scope="col" class="px-4 py-2 text-left text-sm font-semibold text-gray-900">Funcionário</th>
        <th scope="col" class="px-4 py-2 text-left text-sm font-semibold text-gray-900">Status</th>
        <th scope="col" class="px-4 py-2 text-left text-sm font-semibold text-gray-900">Observação</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 bg-white">
      <!-- @for (item of items; track $index) {
        <tr>
          <td class="px-4 py-2 text-sm text-gray-700">24/08/2025 14:30</td>
          <td class="px-4 py-2 text-sm text-gray-700">- (Sistema)</td>
          <td class="px-4 py-2 text-sm text-gray-700">ABERTA</td>
          <td class="px-4 py-2 text-sm text-gray-700">Cliente registrou serviço</td>
        </tr>
      } -->
    </tbody>
  </table>
</div>
