<div class="bg-white rounded-lg h-full p-15 ">
  <div class="px-4 sm:px-0">
    <h3 class="font-bold text-[22px]">Dados da Solicitação</h3>
    <p class="mt-1 max-w-2xl text-sm/6 text-gray-500">Detalhes da solicitação.</p>
  </div>
  <div class="mt-6 border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
          <div class="px-2 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm/6 font-medium text-gray-900">Número da solicitação</dt>
              <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">{{solicitacao.id}}</dd>
          </div>
  
          <div class="px-2 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm/6 font-medium text-gray-900">Data/Hora</dt>
              <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">{{solicitacao.data}}</dd>
          </div>
  
          <div class="px-2 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm/6 font-medium text-gray-900">Categoria</dt>
              <dd class="text-sm text-gray-700 sm:col-span-2">{{solicitacao.categoria}}</dd>
          </div>
  
          <div class="px-2 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm/6 font-medium text-gray-900">Descrição do Equipamento</dt>
              <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">{{solicitacao.equipamento}}</dd>
          </div>
  
          <div class="px-2 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm/6 font-medium text-gray-900">Status</dt>
              <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">{{solicitacao.status}}</dd>
          </div>
      </dl>
  </div>
  
  <div class="px-4 sm:px-0">
    <h3 class="text-base font-semibold text-gray-900">Histórico da Solicitação</h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">Todos os passos e alterações feitas no serviço.</p>
  </div>
  
  <div class="mt-6 overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200 rounded-lg">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-4 py-2 text-left text-sm font-semibold text-gray-900">Data/Hora</th>
          <th scope="col" class="px-4 py-2 text-left text-sm font-semibold text-gray-900">Funcionário</th>
          <th scope="col" class="px-4 py-2 text-left text-sm font-semibold text-gray-900">Status</th>
          <th scope="col" class="px-4 py-2 text-left text-sm font-semibold text-gray-900">Observação</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
      @for (passo of historico; track passo.idSolicitacao) {
        <tr>
        <!-- <td class="px-4 py-2 text-sm text-gray-700">24/08/2025 14:30</td>
          <td class="px-4 py-2 text-sm text-gray-700">- (Sistema)</td>
          <td class="px-4 py-2 text-sm text-gray-700">ABERTA</td>
          <td class="px-4 py-2 text-sm text-gray-700">Cliente registrou serviço</td> -->
          <td class="px-4 py-2 text-sm text-gray-700">{{passo.dataHora}}</td>
          <td class="px-4 py-2 text-sm text-gray-700">{{passo.funcionario}}</td>
          <td class="px-4 py-2 text-sm text-gray-700">{{passo.estado}}</td>
          <td class="px-4 py-2 text-sm text-gray-700">{{passo.observacao}}</td>
        </tr>
      }
      </tbody>
    </table>
  </div>
</div>